<div class="row">
  <%= link_to "Add a new location", new_community_admin_location_path(current_community), class: 'btn btn-primary pull-right' %>
  </div>
<div class="row">
  <h1>Locations</h1>
</div>

<div class="row">
  <div class="col-sm-12 col-md-10">
    <% if @locations.present? %>
      <table class='table table-bordered'>
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <% @locations.each do |location| %>
            <tr>
              <td><%= link_to location.name, edit_community_admin_location_path(current_community, location) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class='pull-right'>
        <%= will_paginate @locations %>
      </div>
    <% end %>
  </div>
</div>

<script>
  var submitDeleteForm = function (element)  {
    if (confirm('Are you sure?')) {
      $(element).parents('form').submit();
    }
  }
</script>
