<h2>Asylum</h2>

<p><strong>Status:  </strong><%= friend.asylum_status.try(:humanize) %></p>
<p><strong>Date Submitted:  </strong><%= friend.date_asylum_application_submitted.strftime('%m/%d/%y') if friend.date_asylum_application_submitted.present? %></p>
<p><strong>Notes:  </strong><%= friend.asylum_notes %></p>

<div class='col-md-12'>
  <div id='asylum-application-draft-list' >
    <%= render partial: 'asylum_application_drafts/list', locals: { friend: friend} %>
  </div>
</div>
