<h2>Helpful Links</h2>
<p>
  <%= link_to 'Blank Applications and Templates', 'https://drive.google.com/drive/folders/1nUMBjODHOS5SpAI5eBi8-KgjlrEBp_Dt', target: 'blank' %><br>
  <strong>Note:  Please download the all forms to your computer to fill out the applications.  Changes you make to the form in the browser CANNOT be saved!</strong>
</p>

<h2>Your Friends</h2>
<% @friends.each do |friend| %>
  <p><%= link_to friend.name, community_friend_path(current_community.slug, friend) %></p>
<% end %>
