<h2>Helpful Links</h2>
<p><%= link_to 'Asylum Draft', 'https://s3.amazonaws.com/new-sanctuary-public-docs/I-589+May+2017+Decrypted+%26+Unlocked.pdf', target: 'blank' %><br>
  <strong>Note:  Please download the form to your computer to fill out the application.  Changes you make to the form in the browser CANNOT be saved!</strong></p>
<p><%= link_to 'Clinic Training Zine', 'https://s3.amazonaws.com/new-sanctuary-public-docs/clinic+zine.pdf', target: 'blank' %></p>

<h2>Your Friends</h2>
<% @friends.each do |friend| %>
  <p><%= link_to friend.name, friend_path(friend) %></p>
<% end %>