<div class='modal' id='add_family_member_modal'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
        <h4 class='modal-title'>Add a Family Member</h4>
      </div>
      <div class='modal-body'>
        <% family_member_constructor ||= FamilyMemberConstructor.new(friend_id: @friend.id) %>
        <div id='family-member-form'>
          <%= render partial: 'admin/friends/family_members/form', locals: {family_member_constructor: family_member_constructor} %>
        </div>
      </div>
    </div>
  </div>
</div>
