<% if ENV['AUTHY_API_KEY'] %>
  <div class='pull-right'>
    <% if @user.authy_enabled %>
      <%= button_to 'Disable Two Factor Authentication', user_disable_authy_path, class: 'btn btn-danger' %>
    <% else %>
      <%= link_to 'Enable Two Factor Authentication', user_enable_authy_path, class: 'btn btn-success' %>
    <% end %>
  </div>
<% end %>

<div class='col-md-offset-3'>
  <h1>My Information</h1>
  <%= render 'form' %>
</div>
