<ol>
  <% activity.accompaniments.each do |accompaniment| %>
    <% if scope == 'volunteer' %>
      <% next unless User::ACCOMPANIMENT_ELIGIBLE_ROLES.include?(accompaniment.user.role) %>
    <% else %>
      <% next unless accompaniment.user.send("#{scope}?") %>
    <% end %>
    <li>
      <%= current_user.volunteer? ? accompaniment.user.first_name : accompaniment.user.name %>,
      <i>
        <%= accompaniment_user_details(accompaniment).join(', ') %>
      </i>
    </li>
  <% end %>
</ol>
