<h1>Add Activity</h1>

<strong style='color: #b30000;'>Please make sure all information is accurate before saving. Once it is 'saved', the activity can ONLY be viewed/edited by an ADMIN.</strong>

<%= render 'form' %>
