<h1>New Sanctuary Coalition Pledge</h1>
<ul>
  <li>
    The <strong>New Sanctuary Movement</strong> is a coalition of interfaith religious leaders and participating congregations, called by our faith to respond actively and publicly to end the suffering of our immigrant brothers and sisters residing in the United States.
  </li>
  <li>
    We <strong>acknowledge</strong> that the large-scale immigration to the United States is a complex historical, global and economic phenomenon that has many causes and does not lend itself to simplistic or purely reactive public policy solutions.
  </li>
  <li>
    We stand together in our faith that everyone, regardless of race or national origin, has basic common rights, including but not limited to:
    <ol>
      <li>LIVELIHOOD</li>
      <li>FAMILY UNITY</li>
      <li>PHYSICAL AND EMOTIONAL SAFETY</li>
    </ol>
  </li>
  <li>
    We <strong>witness</strong> the violation of these rights under immigration policy, particularly in the separation of children from their parents due to unjust deportations and exploitations.
  </li>
  <li>
    We are deeply grieved by the violence done to families through immigration raids. We cannot in good conscience ignore such suffering and injustice.
  </li>
  <li>
    <strong>THEREFORE, WE COVENANT TO:</strong>
    <ol>
      <li>Take a public, moral stand for immigrants’ rights.</li>
      <li>Reveal, through education and advocacy, the actual suffering of immigrants.</li>
      <li>Protect immigrants against hate, racism, workplace discrimination, and unjust deportation.</li>
      <li>Demonstrate solidarity by accompanying them throughout the process of trying to remain in the US and keep their families together.</li>
    </ol>
  </li>
</ul>
