<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      You have been assigned to review <%= @friend.first_name %>'s applications.
    </p>
</html>
