<% if friend.activities.upcoming.present? %>
  <h4>Upcoming</h4>
  <% friend.activities.upcoming.order('occur_at desc').each do |activity| %>
    <%= render partial: 'admin/activities/activity', locals: { friend: friend, activity: activity } %>
  <% end %>
<% end %>

<% if friend.activities.past.present? %>
  <h4>Past</h4>
  <% friend.activities.past.order('occur_at desc').each do |activity| %>
    <%= render partial: 'admin/activities/activity', locals: { friend: friend, activity: activity } %>
  <% end %>
<% end %>

<script>
  $(document).ready(function () {
    $('.open_activity_modal').click(function() {
      $('#activity_modal').modal('show');
    });
  });
</script>