<div class='modal' id='activity_modal'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
        <h4 class='modal-title'>Activity</h4>
      </div>
      <div class='modal-body'>
        <div id='activity-form'>
          <%= render partial: 'admin/friends/activities/form', locals: { friend: activity.friend, activity: activity } %>
        </div>
      </div>
    </div>
  </div>
</div>