<div class="row">
    <div class="col-md-3">
	<h1>Judges</h1>
    </div>
    <div class='col-md-4 col-md-offset-5'>
	<!-- search box? -->
    </div>
</div>
<% if @judges.present? %>
    <table class='table table-bordered'>
	<thead>
	    <tr>
		<th>First Name</th>
		<th>last Name</th>
		<th style="max-width: 25px;">Remove</th>
	    </tr>
	</thead>
	<tbody>
	    <% @judges.each do |judge| %>
		<tr>
		    <td><%= judge.first_name %></td>
		    <td><%= judge.last_name %></td>
		    <td><%= fa_icon 'times' %></td>
		</tr>
	    <% end %>
	</tbody>
    </table>
    <div class='pull-right'>
	<%= will_paginate @judges %>
    </div>
<% end %>
