<div class="row">
  <%= link_to "Add a new judge", new_community_admin_judge_path(current_community.slug), class: 'btn btn-primary pull-right' %>
  </div>
<div class="row">
  <h1>Judges</h1>
</div>

<div class="row">
  <div class="col-sm-12 col-md-10">
    <% if @judges.present? %>
      <table class='table table-bordered'>
        <thead>
          <tr>
            <th>Name</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
          <% @judges.each do |judge| %>
            <tr>
              <td><%= link_to "#{judge.last_name}, #{judge.first_name}", edit_community_admin_judge_path(current_community.slug, judge) %></td>
              <td>
                <div class='btn-group'>
                  <%= link_to(hide_community_admin_judge_path(current_community.slug, judge), method: :patch, id: "hide-judge-#{judge.id}", class: 'btn btn-default') do %>
                    <i class="fa fa-eye-slash"></i> Hide
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class='pull-right'>
        <%= will_paginate @judges %>
      </div>
    <% end %>
  </div>
</div>
