development:
  user: postgres
  password: password
  adapter: postgresql
  database: new_sanctuary_asylum_development
  host: db
  pool: 30

test: &test
  user: postgres
  password: password
  adapter: postgresql
  database: new_sanctuary_asylum_test
  host: db
