<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= @application.friend.first_name %>'s <%= @application.category %> application has an approved draft.
    </p>
</html>
