<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= @draft.friend.first_name %>'s <%= @draft.application.category %> application draft has been submitted for review and is awaiting lawyer assignment: <%= link_to @link_url, @link_url %>
    </p>
</html>
