<div class="row">
  <%= link_to 'Add a new sanctuary', new_community_admin_sanctuary_path(current_community), class: 'btn btn-primary pull-right' %>
</div>
<div class="row">
  <h1>Sanctuaries</h1>
</div>

<div class="row">
  <div class="col-sm-12 col-md-10">
    <% if @sanctuaries.present? %>
      <table class='table table-bordered'>
        <thead>
          <tr>
            <th>Name</th>
            <th>Leader Name</th>
          </tr>
        </thead>
        <tbody>
          <% @sanctuaries.each do |sanctuary| %>
            <tr>
              <td><%= link_to sanctuary.name, edit_community_admin_sanctuary_path(current_community, sanctuary) %></td>
              <td><%= sanctuary.leader_name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class='pull-right'>
        <%= will_paginate @sanctuaries %>
      </div>
    <% end %>
  </div>
</div>
