<h1>Accompaniements</h1>
<div class= 'row'>
  <div class='col-md-10 col-md-offset-1'>
    
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item active">
        <a class="nav-link active" data-toggle="tab" href="#current_month" role="tab">Current Month</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#last_month" role="tab">Last Month</a>
      </li>
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="current_month" role="tabpanel">
        <%= render partial: 'current_month' %>
      </div>
      <div class="tab-pane" id="last_month" role="tabpanel">
        <%= render partial: 'last_month' %>
      </div>
    </div>
  </div>
</div>
        