<% unless current_user.admin? %>
  <div class='row'><%= link_to 'Back to Friend Record', community_friend_path(current_community, @friend, tab: '#documents') %></div>
<% end %>

<h2>Edit Document</h2>
<%= render 'form' %>