<h1>New Access Time Slot</h1>

<%= render partial: 'form', locals: { access_time_slot: @access_time_slot } %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').change(function() {
      var dateArray = this.value.split('/')
      $(this).siblings('.month').val(dateArray[0]);
      $(this).siblings('.date').val(dateArray[1]);
      $(this).siblings('.year').val(dateArray[2]);
    });
  });
</script>
