<h1><%= current_region.name.upcase %> Remote Clinic Log</h1>

<% @remote_review_actions.each do |remote_review_action| %>
  <div class='row'>
    <% case remote_review_action.action %>
    <% when 'review_requested' %>
      <%= "#{ link_to remote_review_action.friend.name, regional_admin_region_friend_path(current_region, friend) }'s #{ remote_review_action.application.category.humanize } has been submitted for review (#{ remote_review_action.created_at.strftime("%B %-d, %Y") }, #{ remote_review_action.community.upcase })." %>
    <% when 'review_added' %>
    <% when 'approved' %>
    <% when 'closed' %>
    <% end %>
  </div>
<% end %>

<div class='pull-right'>
  <%= will_paginate @remote_review_actions %>
</div
