<h2>Helpful Links</h2>
<p>
  <%= link_to 'NSC Clinic Templates', 'https://drive.google.com/drive/folders/1nUMBjODHOS5SpAI5eBi8-KgjlrEBp_Dt', target: 'blank' %>
</p>

<h2>Your Friends</h2>

<div>
  <% @friends.each do |friend| %>
    <% friendship = current_user.relationship(friend) %>
    <div class='row'>
      <div class='col-md-6'>
        <strong><%= link_to friend.name, remote_clinic_friend_path(friend) %></strong>
        <br>
        <strong>Assigned lawyer(s):  </strong>
        <%= friend.user_friend_associations.remote.map { |friendship|
          "#{ friendship.user == current_user ? 'You' : friendship.user.name } -- #{ friendship.created_at.strftime('%m/%d/%Y') }"
        }.join(', ') %>
      </div>
    </div>
    <br>
  <% end %>
</div>
