<%= link_to 'Create Document', new_community_friend_draft_path(@friend.community.slug, @friend), class: 'pull-right btn btn-primary' %>
<h1><%= @friend.name %></h1>

<%= render 'drafts_review_dashboard', is_admin: false, friend: @friend %>