<h3>Access</h3>

<div class='row form-group'>
  <%= fields_for(@friend.user_friend_associations.build) do |fl| %>
    <%= fl.label :users,'Volunteers with Access', class: 'col-md-2 control-label' %>
    <div class='col-md-6'>
      <%= collection_select(:friend, :user_ids, current_community.users, :id, :name, {selected: @friend.volunteers_with_access.map(&:id)}, {multiple: true, prompt: true, class: 'chzn-select form-control'}) %>
    </div>
  <% end %>
</div>
