<h3>Access</h3>

<div class='row form-group'>
  <%= fields_for(@friend.user_friend_associations.build) do |fl| %>
    <%= fl.label :users,'Volunteers with Access', class: 'col-md-2 control-label' %>
    <div class='col-md-6'>
      <%= collection_select(:friend, :user_ids, @friend.volunteers_with_access, :id, :name, { selected: @friend.volunteers_with_access.pluck(:id) }, { multiple: true, prompt: true, class: 'js-select2 form-control', data: { select2_collection_path: select2_options_community_admin_users_path } }) %>
    </div>
  <% end %>
</div>

<p><strong>Volunteer emails: </strong><%= @friend.users.map(&:email).join(', ') %></p>
