<div class='pull-right'>
  <%= link_to 'Add Activity', new_admin_friend_activity_path(@friend), remote: true, class: 'btn btn-primary', data: {toggle: 'modal', target: '#activity_modal'} %>
</div>
<h3>Activities</h3>

<div id='activity-list' >
  <%= render partial: 'admin/friends/activities/list', locals: { friend: @friend} %>
</div>

<% if @friend.events.present? %>
  <h3>NSC Events</h3>
  <% @friend.events.order('date desc').each do |event| %>
    <p>
      <strong><%= "#{event.category.titlecase}: #{event.title}" %></strong><br>
      <%= "#{event.date.strftime('%I:%M %p, %A, %B %-d, %Y')} @ #{event.location.name}" %>
    </p>
  <% end %>
<% end %>

