

<% if friend.parents.present? %>
  <h3>Parents</h3>
  <% friend.parents.each do |parent| %>
    <%= parent.full_name %>
  <% end %>
<% end %>

<% if friend.children.present? %>
  <h3>Children</h3>
  <% friend.children.each do |child| %>
    <%= child.full_name %>
  <% end %>
<% end %>
