<h3>Family</h3>

<div id='family-list' >
  <%= render partial: 'admin/friends/family_relationships/list', locals: { friend: @friend } %>
</div>

</br>
<%= link_to 'Add Family Member', new_community_admin_friend_family_relationship_path(current_community.slug, @friend), remote: true, class: 'btn btn-primary', data: { toggle: 'modal', target: '#add_family_relationship_modal' } %>
