<h3>Family</h3>

<div id='family-list' >
  <%= render partial: 'family_members', locals: { friend: @friend} %>
</div>

<button type='button' class='btn btn-primary' data-toggle='modal' data-target='.add-family-member-modal'>Add Family Member</button>
