<% if friend.spouses.present? || friend.inverse_spouses.present? %>
  <h4>Spouse</h4>
  <% friend.spousal_relationships.each do |spousal_relationship| %>
    <p>
      <%= link_to spousal_relationship.spouse.full_name, edit_admin_friend_path(spousal_relationship.spouse), target: '_blank' %>
    </p>
  <% end %>

  <% friend.inverse_spousal_relationships.each do |inverse_spousal_relationship| %>
    <p><%= link_to inverse_spousal_relationship.friend.full_name, edit_admin_friend_path(inverse_spousal_relationship.friend), target: '_blank' %></p>
  <% end %>
<% end %>

<% if friend.parents.present? %>
  <h4>Parents</h4>
  <% friend.parent_relationships.each do |parent_relationship| %>
    <p><%= link_to parent_relationship.parent.full_name, edit_admin_friend_path(parent_relationship.parent), target: '_blank' %></p>
  <% end %>
<% end %>

<% if friend.children.present? %>
  <h4>Children</h4>
  <% friend.child_relationships.each do |child_relationship| %>
    <p><%= link_to child_relationship.child.full_name, edit_admin_friend_path(child_relationship.child), target: '_blank' %>
  <% end %>
<% end %>
