.form-inputs {
  .row {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  label {
    &.required:after {
      content: ' *';
    }
  }
  input[type='checkbox'] {
    margin-top: 10px;
    margin-right: 10px;
    zoom: 1.5;
  }
}

.inline-date-select {
  width: initial;
  margin-right: 20px;
  display: inline-block;
}

// style chosen element like bootstrap fields
.chosen-choices {
  border: 1px solid #ccc;
  border-radius: 4px;
}