.form-inputs {
  .form-group {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  label {
    &.required:after {
      content: ' *';
    }
  }
  input[type='checkbox'] {
    margin-right: 5px;
    zoom: 1.5;
  }
  .field_with_errors {
    color: #b30000;
    input {
      border-color: #b30000;
    }
  }
  .control-label {
    padding-top: 5px;
  }
}

.error-list {
  margin-top: 20px;
  li {
    color: #b30000;
  }
}

.inline-date-select {
  width: initial;
  margin-right: 20px;
  display: inline-block;
}

.delete {
  float: right;
  color: #b30000 !important;
  font-style: italic;
}

.modal-body {
  padding-top: 0px !important;
}

input.datepicker.form-control {
  display: inline-block !important;
  width: auto !important;
  margin-right: 0.5em;
}

.condensed-filters {
  .form-control {
    height: 28px;
  }
  .inline-form-group input.form-control {
    display: inline-block !important;
    width: auto;
  }
  select.form-control {
    display: inline-block !important;
    width: auto !important;
    margin-right: 0.5em;
  }
}

// Manual tweaking for spacing on some inline labels
label[for=filterrific_filter_activity_start_date] {
  margin-left: 0.25em;
}
label[for=filterrific_filter_activity_end_date] {
  margin-right: 0.25em;
}
