.friend-search-filters {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1em;
  margin-bottom: 1em;

  dl {
    margin-bottom: 0.5em;
  }

  label {
    font-weight: normal;
    margin-right: 0.6em;
  }
}