.container-fluid {
  @media (min-width: 768px) {
    margin-right: 6em;
    margin-left: 6em;
  }
}

#show-past-date-toggle {
  font-weight: normal;
  font-size: 0.85em;
  display: none;

  input {
    margin-right: 6px;
  }
}

.calendar-list {
  h2 {
    font-size: 24px;
  }

  h4 {
    margin-top: 25px;
    margin-left: 15px;
  }

  .activity-detail {
    border-left: 2px solid #eee;
    margin-left: 25px;
    padding: 5px 15px 0px;

    > .row {
      padding-bottom: 30px;
    }

    &:last-child > .row {
      padding-bottom: 5px;
    }

    strong {
      padding-right: 3px;

      a {
        font-size: 1.1em;
      }
    }
  }

  .past-date {
    display: none;

    opacity: 0.55;
  }

  margin-bottom: 25px;
}

.accomp-edit {
  margin-right: 10px;
}

.confirm {
  clear: left;
  margin-left: 15px;
  padding-top: 10px;

  .pull-right {
    float: none !important;
  }

  strong {
    background: #E0F0D8;
    padding: 2px 8px;
    display: inline-block;
    border-radius: 4px;
    color: rgba(0,0,0,0.7);
    margin-top: 5px;
  }
}

.button_to {
  margin-top: -10px;
  margin-left: 5px;
}

.simple-calendar {
  margin-bottom: 60px;

  .calendar-heading {
    padding: 15px 10px;
    text-align: center;
    background: #f1f1f1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    span {
      display: inline-block;
      margin: 4px 40px 0w;
      font-size: 1.2em;
      font-weight: 500;
    }

    a {
      background: #fff;
      padding: 4px 8px;
      width: 100px;
      display: inline-block;
      text-align: center;
      border-radius: 4px;

      &:first-child {
        float: left;
      }

      float: right;

      &:hover {
        background: #ddd;
      }
    }
  }
  table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(221, 221, 221);
    border-collapse: collapse;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
  }

  tr {
    border-collapse: collapse;
  }

  th {
    padding: 6px;
    border-bottom: 2px solid rgb(221, 221, 221);
    border-collapse: collapse;
    border-left: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-top: 0px none rgb(51, 51, 51);
    box-sizing: border-box;
    text-align: left;
  }

  td {
    padding: 6px;
    vertical-align: top !important;
    width: 14%;

    border: 1px solid #ddd;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;
  }

  .day {
    height: 80px;

    h5 {
      font-size: 1.2em;
      color: #757575;
      padding: 2px;
      display: inline-block;
      margin-top: 0;
    }

    dl {
      font-size: 0.9em;
      dt {
        float: left;
        clear: left;
        margin-right: 6px;
        color: #333;
        font-weight: 500;

        .confirmed {
          color: #229608;
          display: inline-block;
          overflow: visible;
          font-size: 16px;
          line-height: 10px;
        }

        .event-info-icon {
          width: 15px;
        }
      }
      dd {
        margin-bottom: 10px;
        color: #757575;

        .modal-title {
          display: inline;
          color: black;
          font-size: 1.25em;
          font-weight: normal;

          span {
            margin-right: 10px;
            font-weight: 500;
          }
        }

        .close {
          float: none;
          position: absolute;
          top: 8px;
          right: 10px;
        }

        .modal-body {
          padding: 0;
          margin: 20px 10px 10px;
          font-size: 1.1em;
          color: black;

          .btn {
            margin-left: 5px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background: #FFFFC0
  }

  .past {}
  .future {}

  .start-date {}

  .prev-month {
    background: #eee;
    h5, dt, dd > a {
      opacity: 0.5;
    }
  }
  .next-month {
    background: #eee;
    h5, dt, dd > a {
      opacity: 0.5;
    }
  }
  .current-month {}

  .has-events {}
}

.status, .remote_lawyer_review_status {
  font-weight: bold;
}

.in_progress {
  color: #1a1aff;
}

.review_requested {
  color: #D2691E;
}

.review_added {
  color: #b11d1d;
}

.approved {
  color: #339933;
}

.remote_lawyer_review_status.in_progress {
    color: #555;
}

.remote_lawyer_review_status.review_requested {
    color: #b11d1d;
}

.remote_lawyer_review_status.review_added {
    color: #1a1aff;
}

.remote_lawyer_review_status.approved {
    color: #339933;
}

.remote_lawyer_no_reviews {
    color: #999;
  }

.event_small_col {
  width: 36px;
}

.event_centered_col {
  padding-left: 5px;
}

.form_fields_section {
  padding-bottom: 8px;
}

.friend_id_clinic_waitlist {
  margin-left: 8px;
  font-size: 16px;
}

.clinic_waitlist_pri_high {
  color: #F45D5D;
}

.clinic_waitlist_pri_med {
  color: #F9DF68;
}

.clinic_waitlist_pri_low {
  color: #90D374;
}

.search_activity_sub_row {
  margin-left: 12px;
}

.eoir_caller {
  color: #5cb85c !important;
}

.navbar-nav li.dropdown.regional_admin > ul.dropdown-menu > li {
  a {
    font-weight: bold;
  }

  a.region_community {
    font-weight: normal;
  }
}

li a.region_community {
  // Based off the Bootstrap .dropdown-menu > li > a padding
  padding-left: 30px;
}

td .button-cell {
    min-width: 66px;
}

tr .text-stretch {
    white-space: nowrap;
}
