.container-fluid {
  @media (min-width: 768px) { 
    margin-right: 6em;
    margin-left: 6em;
  }
}

#show-past-date-toggle {
  font-weight: normal;
  font-size: 0.85em;
  display: none;

  input {
    margin-right: 6px;
  }
}

.calendar-list {
  h2 {
    font-size: 24px;
  }

  h4 {
    margin-top: 25px;
    margin-left: 15px;
  }

  .activity-detail {
    border-left: 2px solid #eee;
    margin-left: 25px;
    padding: 5px 15px 0px;

    > .row {
      padding-bottom: 20px;
    }

    strong {
      padding-right: 3px;

      a {
        font-size: 1.1em;
      }
    }

    .button_to {
      margin-left: 5px;
    }
  }

  .past-date {
    display: none;

    opacity: 0.55;
  }

  margin-bottom: 25px;
}