<p>Welcome New Sanctuary Coalition Volunteer!</p>

<p>Please follow this link to accept your invitation to the New Sanctuary Coalition software: <%= link_to accept_invitation_url(@resource, :invitation_token => @token), accept_invitation_url(@resource, :invitation_token => @token) %></p>

<% if @resource.invitation_due_at %>
  <p>This invitation will expire <%= @resource.invitation_due_at.strftime("%B %d, %Y %I:%M %p") %>.</p>
<% end %>

<p>Creating an account will allow you to RSVP for accompaniments and upload/download I-589 form drafts for the asylum clinic. Here is a video demo of the volunteer functionality (creating an account from an invitation email, viewing friend records for the asylum clinic, and RSVPing to accompaniments): https://youtu.be/UfYT3luVssg </p>

<p><%= t("devise.mailer.invitation_instructions.ignore").html_safe %></p>

<p>Thank you for all your hard work,</p>

<p>The New Sanctuary Coalition team</p>
