<p>Hello <%= @resource.email %>!</p>

<p>We're contacting you to notify you that your password has been changed.</p>

<p>This email is sent automatically in the following circumstances: </p>

<ol>
    <li>You have just created your account and set your password for the first time</li>
    <li>When you logged in, you were notified that your password had expired and were prompted to input a new password</li>
    <li>You have initiated a password reset on your account and have set a new password</li>
</ol>

<p>If you recieve this email outside of the above circumstances, please attempt to log in.  If you are unable to log in with what you believe to be your current password, please reach out to newsanctuary.tech@gmail.com.</p>
