<% unless current_user.admin? %>
  <div class='row'>
    <%= link_to 'Back to Friend Record', community_friend_path(current_community.slug, @friend, tab: '#documents') %>
  </div>
<% end %>

<h2>New Release</h2>

<%= render 'form' %>