<h2>Accompaniment Program</h2>
<h4 class='text-muted'>The Accompanimnent Program is on pause until the courts reopen.</h4>
<h4>
  Reach out to Amy at
  <%= link_to 'volunteers@newsanctuarynyc.org', 'mailto:volunteers@newsanctuarynyc.org', target: '_blank' %>
  for more volunteer opportunities.
</h4>
