<h1>Accompaniments</h1>
<div class="calendar-list">
  <% group_activities_by_week(@upcoming_activities).each do |week, week_activities| %>
    <h2><%= print_week_start_end_dates(week) %></h2>
    <% group_activities_by_day(week_activities).each do |day, activities| %>
      <h4><%= day.strftime('%A, %B %-d') %></h4>
      <% activities.each do |activity| %>
        <%= render partial: 'activity', locals: {activity: activity} %>
        <%= render partial: 'accompaniment_modal', locals: {activity: activity, accompaniment: Accompaniment.find_or_build(activity, current_user) } %>
      <% end %>
    <% end %>
  <% end %>
</div>
