<div class='row' style='margin-left:5px;'>
  <strong>
    <%# link_to 'Remove', community_admin_friend_detention_path(current_community.slug, friend, detention), method: :delete, remote: true, class: 'delete' %>
  </strong><br>
  "<%= friend_note.note if friend_note.note.present? %>"<br>
  <strong>Last Edited By:  </strong><%=  friend_note.user.name if friend_note.user.present? %><br>
  <strong>Updated At:  </strong><%=  friend_note.updated_at.strftime("%A, %B %-d, %Y") %><br>
  <strong><% link_to "Edit", edit_community_admin_friend_friend_note_path(current_community.slug, friend, friend_note), remote: true, class: 'open_friend_note_modal' %></strong>
</div>
<br>
<br>