<% if !current_community.primary %>
  <div class ='col-md-5 text-muted'>
    <% if draft.status == 'in_progress' %>
      <%= link_to 'Submit for Review', submit_for_review_community_friend_draft_path(current_community.slug, friend, draft), method: :patch, class: 'btn btn-success'%>
    <% else %>
      <span class='col-md-3 status <%= draft.status %>'>
        <%= draft.status_string %> <%= draft.updated_at.strftime('%m/%d/%Y') %>
      </span>
      <br>
    <% end %>
  </div>
<% end %>
