<% unless current_user.admin_or_has_active_access_time_slot? %>
  <div class='row'><%= link_to 'Back to Friend Record', community_friend_path(current_community.slug, @friend, tab: '#documents') %></div>
<% end %>

<h2>Edit Document</h2>
<%= render 'form' %>